

.container {
    height: 90%;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.textoNormal {
    text-align: justify;
}

.centralizarDiv {
    margin: auto;
}

.centrarlizarConteudo {
    text-align: center;
}

.conteudoDivFlex {
    display: flex !important;  
}

.tetoDasDivs {
    margin-top: 5%;
}

.imgAngra {
    width: 120px;
    margin: auto;
}